<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color:#191970; padding-top: 4%; padding-bottom:8%;">
    <div class="container">
        <a href="/" class="navbar-brand">
            <figure>
                <img src="/img/ebook.png" class="img-fluid" width="100" height="100">
            </figure>
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll " href="/"
                       style="font-weight: bold; font-size: 200%; color: white;">Upload File</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>