<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color:#191970; padding-top: 4%; padding-bottom:8%;">
    <div class="container d-flex align-items-center">
        <a href="/" class="navbar-brand"
           style="transition: transform 0.3s ease-in-out; max-width: 180px; margin-right: 20px;"
           onmouseover="this.style.transform='scale(1.1)';"
           onmouseout="this.style.transform='scale(1)';">
            <figure style="transition: transform 0.3s ease-in-out; margin: 0;">
                <img src="/img/ebook.png" style="width: 50%; transition: transform 0.3s ease-in-out;">
            </figure>
            <span style="font-weight: bold; font-size: 100%; color: white;">Upload Files</span>
        </a>
    </div>
</nav>
</html>