<div class="container" style="margin-bottom:5%">
    <form id="form" hx-encoding="multipart/form-data" hx-post="/upload" hx-target="#table-container"
          hx-swap="outerHTML">
        <div class="row">
            <div class="col-md-6 mb-3 mt-2 custom-file">
                <input type="file" class="custom-file-input" name="file" id="validatedCustomFile" required onchange="updateFileName(this)">
                <label class="custom-file-label" for="validatedCustomFile">Choose a file...</label>
                <div class="invalid-feedback">Inválid File</div>
            </div>
            <div class="col-md-4 mb-3 mt-2">
                <select class="form-control" name="category" required>
                    <option value="">Select a category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category}"
                            th:text="${category}"></option>
                </select>
            </div>
            <div class="col-md-2 mb-3 mt-2">
                <button type="submit" class="btn btn-primary">Upload file</button>
            </div>
        </div>
    </form>
</div>

<style>
    .custom-file-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
</style>

<!-- funcao js p/ renomear a label do nome do arquivo -->
<script>
    function updateFileName(input) {
        var fileName = input.files[0].name;
        var label = input.nextElementSibling;
        var maxLength = 30;

        if (fileName.length > maxLength) {
            var extension = fileName.substring(fileName.lastIndexOf('.'));
            var shortName = fileName.substring(0, maxLength - extension.length - 3) + '...' + extension;
            label.innerHTML = shortName;
        } else {
            label.innerHTML = fileName;
        }
        label.title = fileName;
    }
</script>
