<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My To do List</title>
</head>
<section layout:fragment="content" style="min-height: 90vh; background-color: white; margin-top:5%">

    <div class="container" style="margin-top:5%">

        <div class="card-body">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <input type="file" name="file" class="form-control" style="width: 400px;">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center;">#</th>
                <th scope="col" style="text-align: center;">File Name</th>
                <th scope="col" style="text-align: center;">Date</th>
                <th scope="col" style="text-align: center;">File Size</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file, index : ${fileList}">
                <td th:text="${index.index + 1}"></td>
                <td th:text="${file.fileName}" style="text-align: center;"></td>
                <td th:text="${#temporals.format(file.uploadDate, 'dd/MM/yyyy HH:mm:ss')}"
                    style="text-align: center;"></td>
                <td th:text="${file.fileSize}" style="text-align: center;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>